body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    background-color:cornsilk;
}
section{
    height:  500px;
    padding-bottom: 10%;
}
#menu{
    background:#4E4E4E;
    height: 38px;
    margin: 0;
     padding: 0;
}
#menu li{
    display: inline;
    float:left;
    border-right:1px solid #605B5B;
    border-left: 1px solid #2B2A2A;
}
#menu li a{
    text-decoration: none;
    padding:10px 20px;
    color:aliceblue;
    background: #4E4E4E;
    display:block
}
.half-width{
    float: left;
    width: 40%;
    margin-left: 4%;
    padding-left: 2%;
    margin-top: 25px;
    height: auto;
}
.half-width img{
    width: 100%;
    height:450px;
}
h1{
    font-size: 50px;
    color: #363958;
}
h2{
    font-size:40px;
    color: #363958;
}
h3{
    font-size: 25px;
    color:#363958;
    padding-bottom: 10px;
}
.color-highlight{
    color:#FF8367;
}
h4{
    color:dimgray;
    padding-bottom: 40px;
}
.color-highlight-2{
    color:#ac3973;
}
.hire{
    background-image:linear-gradient(45deg,#cc66ff, #ff6600);
    padding:20px 50px;
    color:white;
    border-radius: 7%;
    font-weight: 700px;
}
p{
    color:dimgray;
    font-size:20px;
    padding-bottom: 40px;
}
#About{
   
    background-color: ivory;
}
#Work{
   background-color:hsl(0, 0%, 96%);
    margin-top: 39px;
    clear: both;
}
#Work h1{
    text-align: center;
}
.project-collection{
    padding: 15px 15px;
}
.project{
    width:25%;
    border: 2px solid white;
    border-radius: 10%;
    padding:1%;
    background-color:white;
    float: left;
    margin-left: 5%;
    box-shadow: 10px 10px 60px gray;;
}
.project h3{
    font-size: 20px;
}
.project img{
    width:100%;
    height:30%;
    border-radius: 12%;
}
.fourth-area{
    height: 300px;
    background-color:cornsilk;
}
.chat{
    background-image: url(images/resize.png);
    background-repeat: no-repeat;
    width: 90%;
    height: 100%;
    margin-left:10%;
    margin-top: 15%;
}
.chat h2{
    color: white;
    font-size: 40px;
    margin-left: 8%;
    padding-top: 3%;
}
.chat a{
    margin-left: 50%;
}
.inquiry{
 float: left;
 width: 30%;
 margin-top: 3%;
 margin-left:3%;
}
.button{
    margin-top: 8%;
    width:30%;
}
#Experience{
    background-position:left;
    clear:both;
    padding-top:25px;
    background-color: wheat;
}
.single-ex{
    box-shadow: 10px 10px 60px gray;
    border-radius: 5px;
    height: 60%;
    background-color:white;
    padding-bottom:25px;
}
#full-stack{
    border-left:7px solid;
    border-image: linear-gradient(lightSalmon,tomato);
    border-image-slice: 1;
}
#Baby-web{
    border-left:7px solid;
    border-image:linear-gradient(blue,cyan) ;
    border-image-slice: 1;
}
.social_media_icons {
    width:2%;
    height: 2%;
}
.icon img{
     width:35px;
     height: 35px;
}
.icon{
      float: left;
      padding-left: 2%;
}
.last-area{
    background-color:teal;
    margin-bottom:0px;
}
footer{
    padding:5%;
    padding-left:40%;
    background-color:cadetblue;
}
.social-icon{
    padding-bottom: 1%;
    padding-left:3% ;
}
#Contact h2{
    font-size: 40px;
    color:#550e31;
}
